<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome5" version="2.0.4" targetFramework="net472" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="MathConverter" version="1.2.1.6" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SevenZipSharp.Net45" version="1.0.19" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net472" />
  <package id="VirtualizingWrapPanel" version="1.5.3" targetFramework="net472" />
</packages>